<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>JonesyCo - Web Development and Social Marketing Strategies</title>
        <!-- <script src="/pace/pace.min.js"></script> -->
        <link href="/pace/pace-theme-barber-shop.min.css" rel="stylesheet" type="text/css" />
  
  
  
        
         <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/grayscale.css" rel="stylesheet" type="text/css">
        <link href="/css/dcslick.min.css" rel="stylesheet" type="text/css" media="screen" />
       
      
     
    <!-- Custom Fonts -->
        <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Exo+2:900,900italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  
   
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    </head>
    
    <body ng-app="contactApp" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                 </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                   <span class="brand glow">JonesyCo</span>
                </a>

                    <span class="navbar-brand hidden-xs hidden-sm" id="iconbar">
                        <a class="glow fa fa-umbrella page-scroll"  href="#page-top" id="umbrella"></a>
                        <a class="glow fa fa-leaf page-scroll"  href="#page-top" id="leaf"></a>
                        <a class="glow fa fa-star page-scroll"  href="#page-top" id="star"></a>
                        <a class="glow fa fa-building-o page-scroll"  href="#page-top" id="portland"></a>
                    </span>
        </div>

        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#goats-section">Just Because</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services-section">Kitchen Sink</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about-section">Meow Meow</a>
                    </li>
               
        <li class="dropdown hidden-xs hidden-sm ">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-user color-blue"></i> Knock Knock <strong class="caret"></strong></a>
            <div class="dropdown-menu" style="width: 300px; padding: 15px;">
             <div class="form-group" >
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                            <input class="form-control" type="email" placeholder="Enter email">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                             <input class="form-control" type="password" placeholder="Enter email">
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <input type="submit" value="Log in" class="btn btn-primary btn-xs pull-right" />
                        </div>
                    </div>
                    <div class="form-group">
                       <a href="">Forget Password?</a>
                    </div>
                    <div class="clearfix"></div>
                </div>

        </li>

    </ul>
                  
                
            </div>
           
        </div>
        
    </nav>  
	


     <img src="/img/backgrounds/Portland-Oregon-skyline.jpg" alt="raining" id="rainsurface"/>

      <header class="intro">
        <div class="intro-body">
         <div class="container-fluid">  

             <div class="row">
                
                <div class="col-md-5 col-md-offset-2 text-left"> 
                 
                 
                      <div class="homemessage glow">We combine
                      <div class="toolmessage">
                     <a class="glow">imagination</a> ,<br />
                      <a class="glow">intelligence</a>,<br />
                      &amp; <a class="glow">proven science</a>
                      </div>
                      to craft<br />compelling websites<br />for remarkable clients</div>
                    
                     </div>
                      
                  </div>  
                 
                   
                     </div>
                
               
        </div>
            </div>
  </header> 




        <!-- About Section -->
    <section id="goats-section" class="content-section">
        <div class="container-fluid ">
           <div class="row">
              <div class="hidden-xs hidden-sm col-md-3">
                
                    <div class="text-right content-section">
                      <i class="fa fa-quote-left fa-3x fa-border pull-left"></i>
                      <p class="toolmessage" style="font-size: 5em;">we really are that good!</p>
                    </div> 
                    <div class="clearfix"></div>
                  <div class="col-sm-1 col-md-3 content-section">        
                      <a href="#services-section" class="btn btn-circle inverse page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                </div>
               </div>

                <div class="col-md-7 col-md-offset-2 text-right content-section">
             <h1 class="brand-subheading">Goats</h1>
               <p>You like goats.<br />
               We like goats.<br />
               Everyone like goats.</P>
               <p>But <em>don't</em> ask a goat to craft a sophisticated<br />web app or design a next-gen user interface.<br />They can't.</p>
               <p>You know who can? Us. And we're really good.</p>

              <p><button type="button" class="slick-toggle btn btn-warning .btn-lg">Ask Us! We're really good!</button></p>

                
                <p>Lawn need mowing? Ask a goat.<br /> But be sure to ask nicely. </p>
                
           </div> 
            
           </div>
          
           
            
              
          
       
        </div>
    </section>

      <!-- Services Section -->
    <section id="services-section" class="content-section">
    <div class="container-fluid">
             <div class="row">
                  <div id="mouseinhand"class="col-md-6 text-right">
                     <h1 class="shout-white">MOUSE</h1>
                     <h1 class="shout-white">IN</h1>
                     <h1 class="shout-white">HAND</h1>
                  </div>
                  <div id="withmycat" class="col-md-6 text-left">
                     <h1 class="shout-black">DON'T</h1>
                     <h1 class="shout-black">MEAN</h1>
                     <h1 class="shout-black">$#!@</h1>
                  </div>
                  <div class="col-md-12 unlessyouknow text-center">
                        <h3><i class="fa fa-cog fa-spin" style="color: #ffd800;"></i> Unless you know how to wield it. We wield mice. Oh so nice. <i class="fa fa-cog fa-spin" style="color: #ffd800;"></i></h3>
                   </div>
                </div>
        
        <div class="col-md-12 text-center" style="margin-top: 0px; position: relative; ">
                <h2 style="line-height: 110%;">
                   <span style="text-wrap: none;"><i class="fa fa-paw" style="color: #ffd800;"></i> Web Development</span> 
                   <span style="text-wrap: none;"><i class="fa fa-paw" style="color: #ffd800;"></i> User Interface Design</span>
                   <span style="text-wrap: none;"> <i class="fa fa-paw" style="color: #ffd800;"></i> Content Strategy </span>
                   <span style="text-wrap: none;"> <i class="fa fa-paw" style="color: #ffd800;"></i> Mobile Applications</span>
                   <span style="text-wrap: none;"><i class="fa fa-paw" style="color: #ffd800;"></i> E-Commerce Solutions</span>
                   <span style="text-wrap: none;"><i class="fa fa-paw" style="color: #ffd800;"></i> Branding + Logo Design</span>
                   <span style="text-wrap: none;"> <i class="fa fa-paw" style="color: #ffd800;"></i> Social Marketing Strategy</span> 
                   <span style="text-wrap: none;"> <i class="fa fa-paw" style="color: #ffd800;"></i> Platform Integration</span> 
                   <span style="text-wrap: none;"> <i class="fa fa-paw" style="color: #ffd800;"></i> CMS Systems</span></h2>
            </div>
       
                  
     </div>
    </section>
    <!-- End Services Section -->

<!--ABOUT-->
    <section id="about-section" class="content-section hidden-xs hidden-sm">
     <div class="container-fluid">
             <div class="row">
                 <div class="col-md-6">
                    <img src="/img/backgrounds/scroll.png" id="scroll" alt="scroll" />
                    <img src="/img/banner.png" id="scrollbanner" alt="The House of Jonesy Crest" />        
                   <div id="scrollcontainer">
                       <img src="/img/badges/b-HTML5CSS3.png" alt="HTML5 CSS3" style="float: left;" />
                       <img src="/img/badges/b-jQuery.png" alt="jQuery3" style="float: right;" />
                       <img src="/img/badges/b-dotnet.png" alt="dotnet" style="float: right;" />
                       <img src="/img/badges/b-angularjs.png" alt="AngularJS" style="float: right;" />
                       <img src="/img/badges/b-sqlserver.png" alt="Microsoft SQL Server" style="float: right;" />
                       <img src="/img/badges/b-git.png" alt="Git" style="float: left; " />
                   </div> 
                  </div> 
                 <div class="col-md-6">
                   <div class="text-dragon">
                   <span style="font-size: 140px;">F</span>riend of Dragons</div>
                       Little League Coach
                   </div>
                 </div>  
             </div>
         </div>
           
 </section> 



    
<section id="contact-section">
<div id="slick-6">
  
       <div ng-app="contactApp">
           <div ng-controller="ContactController" class="panel-body">
                   <form ng-submit="submit(contactform)" name="contactform" method="post"  class="form-horizontal" role="form">
                        <div class="form-group" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                            <label for="inputName" class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-10">
                                <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Your Name" required>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': contactform.inputSubject.$invalid && submitted }">
                            <label for="inputSubject" class="col-lg-2 control-label">Subject</label>
                            <div class="col-lg-10">
                                <input ng-model="formData.inputSubject" type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Subject Message" required>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                            <label for="inputMessage" class="col-lg-2 control-label">Message</label>
                            <div class="col-lg-10">
                                <textarea ng-model="formData.inputMessage" class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Your message..." required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-default" ng-disabled="submitButtonDisabled">
                                    Send Message
                                </button>
                            </div>
                        </div>
                    </form>
                    <p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>
                </div>
             </div>
           </div>
</section>



   <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        <div class="container-fluid text-center">
            <p>Copyright &copy; Jonesy & Company 2014</p>
        </div>
    </footer>

 
    <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script type="text/javascript" src="/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="js/modernizr.custom.71422.js"></script>
    <!-- Rain Engine JavaScript -->
    <script type="text/javascript" src="/js/rainyday.js"></script>
    <script type="text/javascript" src="/js/jquery.slick.2.1.js"></script>
    <script type="text/javascript" src="js/grayscale.js"></script>
     
    <script type="text/javascript">
            function preload(arrayOfImages) {
            $(arrayOfImages).each(function(){
            $('<img/>')[0].src = this;
                });
            }
            preload([
            'img/backgrounds/Portland-Oregon-skyline.jpg',
             'img/backgrounds/Portland-Oregon-skyline2.jpg',
             'img/backgrounds/Forest-Park.jpg',           
             'img/backgrounds/steelbridge.jpg',
             'img/backgrounds/galaxy.jpg'   
             ]);
      </script>



      <script  type="text/javascript">
          var run = function ()
          {
              
              if ($('#raincanvas').length)
              {
                  $('#raincanvas').remove();
              };
              var image = document.getElementById('rainsurface');
              var engine = new RainyDay({
                  image: image
              });
              engine.rain([[4, 2, 1]], 100);
              image.style.zindex = "-1";
              image.crossOrigin = 'anonymous';
          };

          $(function() {
              // Setup drop down menu
              $('.dropdown-toggle').dropdown();
 
              // Fix input element click problem
              $('.dropdown input, .dropdown label').click(function(e) {
                e.stopPropagation();
              });
            });

          </script>
           
        
          <script  type="text/javascript">
              $(document).ready(function ()
              {
                  
                  $('#slick-6').dcSlick({
                      location: 'bottom',
                      align: 'right',
                      offset: '200px',
                      speed: 'fast',
                      tabText: 'Contact Us',
                      autoClose: true
                  });
                  $('#slick-5').dcSlick({
                      location: 'bottom',
                      align: 'right',
                      offset: '100px',
                      speed: 'fast',
                      tabText: 'Contact US',
                      autoClose: true
                  });

              });
              </script>
              
              <script  type="text/javascript">
                  //Click Events
                  $(document).ready(function ()
                  {

                      $("#umbrella").bind('click', function ()
                      {

                          if ($(this).hasClass('fa fa-umbrella'))
                          {
                              $('#raincanvas').remove();
                              $(this).attr("class", "fa fa-tint");
                          }
                          else
                          {

                              $(this).attr("class", "fa fa-umbrella");
                              run();
                          };
                          
                      });

                      $("#star").bind('click', function ()
                      {

                          $('#raincanvas').remove();
                          $("#rainsurface").fadeOut(300, function ()
                          {
                              $(this).attr("src", "/img/backgrounds/galaxy.jpg").fadeIn(300);
                          })
                         
                      });

                      $("#portland").bind('click', function ()
                      {
                          $("#rainsurface").fadeOut(300, function ()
                          {
                              $(this).attr("src", "/img/backgrounds/Portland-Oregon-skyline.jpg").fadeIn(300);
                              $(this).load(function() {
                                                    run();
                                                    });
                          });



                      });

                      $("#leaf").bind('click', function ()
                      {

                          $('#raincanvas').remove();
                          $("#rainsurface").fadeOut(300, function ()
                          {
                              $(this).attr("src", "/img/backgrounds/Forest-Park.jpg").fadeIn(300);
                              $(this).load(function() {
                                                    run();
                                                    });
                              
                          });
                          


                      });

                  });
                </script>
     
    </body>
</html>
